@import "constants";
@import "bourbon/bourbon";
@import "neat/neat";
@import "layout";


/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body, .content, .main-content, .api-content, .api-code { height: 100%; }

body {
  background-color: $background;
  font-family: $main-font;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

.highlight {
	background: none;
	padding-top: 15px;
}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }
