---
layout: default 
---

<nav class="left">
  <ul>
      {% for post in site.posts %}
        {% if post.layout contains page.category %}
        <li>
          <a href="{{ post.url }}" {% if post.title == page.title %} class="current" {% endif %}>{{ post.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
  </ul>
</nav>
<div class="main-content">
    
    <div class="api-content">
      {{ content }}
    </div>
    
    <div class="api-code">
      <div class="language-header"> 
        <ul>
          <li><a class="language">cURL</a></li>
          <li><a class="language">Ruby</a></li>
          <li><a class="language selected">Javascript</a></li>
          <li id="contribute">Want to contribute?</li>
        </ul>
      </div>
        {% highlight ruby %}
        def foo
          puts 'foo'
        end
        {% endhighlight %}
    </div>

</div>
